@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-padding: 24px; 
    --white: #eff6ff;
    --header-footer-background: #1e40af;
}

#content {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1476897017502-219c9169bd6f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-footer-background);
    color: var(--white);
    height:75px;
    gap: 100px;
}

ul.nav {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

header .logo {
    font-size: 2rem;
}

.main-body {
    width: clamp(500px, 75%, 750px);
    margin: 48px auto;
    background-color: #03071288;
    padding: 16px;
    border-radius: 5px;
    border: 5px solid var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p.main {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    margin: 16px;
}

.main-body figure {
    position: relative;
    margin: 0 auto;
}

figure figcaption {
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    background-color: #03071288;
    color: var(--white);
    padding: 12px;
}

a,
a:hover,
a:visited {
    color: var(--white);
}

footer {
    background-color: var(--header-footer-background);
    color: var(--white);
    text-align: center;
    padding: 24px;
}